

<div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Adresse</th>
            <th scope="col">Description</th>
            <th scope="col">Prix</th>
            <th scope="col">Url</th>
            <th scope="col">proprio</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let bien of biens">
            <td>{{ bien.id }}</td>
            <td>{{ bien.name }}</td>
            <td>{{ bien.address }}</td>
            <td>{{ bien.description }}</td>
            <td>{{ bien.price }}</td>
            <td><a href={{bien.url}}>{{ bien.url }}</a></td>
            <td>{{ bien.owner.firstName }} {{ bien.owner.lastName }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>